In [4]:
import pandas as pd

In [5]:
pfad = "../DataScienceDataSets/bookstore.xml"

Um XML-Files mit Pyhton einzulesen kann ebenfalls pandas benutzt werden. Das Package bietet dafür die Methode "read_xml" an. In dieser kann eine XPath expression definiert werden um das Dataset optimal einzulesen. Passe in den folgenden Aufgaben die XPath expression an die jeweilige Aufgabenstellung an.

Lese alle Bücher aus dem Dataset ein

In [7]:
pd.read_xml(pfad, xpath ="//book")

,category,title,author,year,price,cover
0,cooking,Everyday Italian,Giada De Laurentiis,2005,30.00,None
1,fantasy,Die Zwerge,Markus Heitz,2003,14.00,None
2,machine learning,Hands-On Machine Learning,Geron Aurelien,2019,65.00,None
3,children,Harry Potter,J K. Rowling,2005,29.99,None
4,web,XQuery Kick Start,Vaidyanathan Nagarajan,2003,49.99,None
5,web,Learning XML,Erik T. Ray,2003,39.95,paperback

Lese nur Bücher mit der Kategorie "web" ein

In [10]:
pd.read_xml(pfad, xpath ="book[@category='web']")

  category              title                  author  year  price      cover
0      web  XQuery Kick Start  Vaidyanathan Nagarajan  2003  49.99       None
1      web       Learning XML             Erik T. Ray  2003  39.95  paperback

Lese nur das vorletzte Buch ein

In [11]:
pd.read_xml(pfad, xpath ="/bookstore/book[last()-1]")

  category              title                  author  year  price
0      web  XQuery Kick Start  Vaidyanathan Nagarajan  2003  49.99