In [26]:
import pandas as pd
import json

Führen Sie vor der Bearbeitung der Übung folgende Punkte durch:

Öffen Sie einen Texteditor Ihrer Wahl
Überführen Sie die Bookstore xml-Datei in eine Json-Datei (2 Zeilen reichen)
Speichern Sie die Datei im selben Ordner wie dieses Übungsnotebook

Lesen Sie nun die JSON-Datei ein. Sie müssen vorher den Pfad ändern!

In [27]:
f = open("../DataScienceDataSets/bookstore.json")

data = json.load(f)

f.close()

Wandeln Sie nun die Daten in ein pandas-Dataframe um, nutzen Sie hierfür die Methode pd.DataFrame()

In [28]:
data

{'bookstore': [{'title': 'Die Zwerge',
   'author': 'Markus Heitz',
   'year': '2003',
   'price': 20,
   'category': 'fantasy',
   'lang': 'de'},
  {'title': 'ML mit Python',
   'author': 'Geron Aurelien',
   'year': '2019',
   'price': 20,
   'category': 'fantasy',
   'lang': 'de'}]}

In [29]:
df = pd.DataFrame(data["bookstore"])

In [30]:
df

           title          author  year  price category lang
0     Die Zwerge    Markus Heitz  2003     20  fantasy   de
1  ML mit Python  Geron Aurelien  2019     20  fantasy   de

Fügen Sie einen neuen Datenpunkt ein. Sie können hierfür den Code aus der XML-Vorschau benutzen. Benutzen Sie hierfür die Methode pd.Series() und pd.concat()

In [31]:
new_data = pd.Series({"category": "fantasy", "title": "Die Gefährten","author": "J.R.R. Tolkien", "year": 2012, "price": 20, "lang": "de", "cover": None})
new_data

category           fantasy
title        Die Gefährten
author      J.R.R. Tolkien
year                  2012
price                   20
lang                    de
cover                 None
dtype: object

In [34]:
new_df = pd.concat([df,new_data.to_frame().T], ignore_index = True)
new_df

           title          author  year price category lang cover
0     Die Zwerge    Markus Heitz  2003    20  fantasy   de   NaN
1  ML mit Python  Geron Aurelien  2019    20  fantasy   de   NaN
2  Die Gefährten  J.R.R. Tolkien  2012    20  fantasy   de  None

Speichern Sie nun die neue Datei als JSON-Datei in einem beliebigen Pfad ab. Benutzen Sie hierfür die Methode DataFrame.to_json()

In [35]:
new_df.to_json("../DataScienceDataSets/new_df.json")